body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding: 5px;
  background: linear-gradient(90deg, rgb(124, 167, 190), white);
  color: rgb(22, 26, 28);
}

.button {
  padding: 15px;
  margin: auto;
  width: 25%;
}

#btnIndex {
  color: black;
  display: block;
  margin: auto;
  border-radius: 4px;
  background-color: white;
  transition: color, background, font-size 0.5s ease-in-out;
  margin-bottom: 10px;
}

#btnIndex:hover {
  color: white;
  background: linear-gradient(45deg, dodgerblue, black);
  filter: brightness(0.8);
  cursor: pointer;
  font-size: 105%;
}

#btnBpm,
#btnNotes {
  transition: background, color 0.5s ease-in-out;
}

#btnBpm:hover,
#btnNotes:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.btNote {
  display: inline;
  border-radius: 50%;
  border: 1px solid black;
  color: white;
  font: bold;
  background-color: purple;
}

.btNote:hover {
  cursor: pointer;
}

.title,
.title_submit {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
}

.input {
  text-align: center;
  padding: 10px;
  font-style: italic;
  font-weight: bolder;
}

#bpm,
#notes {
  text-align: center;
}

.text {
  text-justify: inter-word;
}

.text_submit {
  text-align: center;
  color: red;
}

.title_submit {
  color: white;
}

.div_submit {
  display: block;
  margin: auto;
  width: auto;
  background-color: black;
  border-radius: 10%;
  transition: background-color 0.5s ease-in-out;
}

.tables {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#tableNotes {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  table-layout: fixed;
}

th,
tr {
  border: 1px solid black;
}

.divEnd {
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: 5px;
}

#btnEnd,
#btnView {
  transition: background-color, color 0.5s ease-in-out;
}

#btnEnd:hover,
#btnView:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
