body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding: 5px;
  background: linear-gradient(90deg, rgb(124, 167, 190), white);
  color: rgb(22, 26, 28);
}

.button {
  padding: 15px;
  margin: auto;
  width: 25%;
}

#btnIndex {
  color: black;
  display: block;
  margin: auto;
  border-radius: 4px;
  background-color: white;
}

#btnIndex:hover {
  color: white;
  background-color: dodgerblue;
  filter: brightness(0.8);
}

.btNote {
  display: inline;
  border-radius: 50%;
  border: 1px solid black;
  color: white;
  font: bold;
  background-color: purple;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
}

.input {
  text-align: center;
  padding: 10px;
  font-style: italic;
  font-weight: bolder;
}

#bpm,
#notes {
  text-align: center;
}

.text {
  text-justify: inter-word;
}

.tables {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#tableNotes {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  table-layout: fixed;
}

#tableSymbols {
  margin-left: 50px;
  padding-bottom: 80px;
}

th,
td {
  border: 1px solid black;
}
