body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding: 5px;
  background: linear-gradient(90deg, rgb(124, 167, 190), white);
  color: rgb(22, 26, 28);
}

.button {
  padding: 15px;
  margin: auto;
  width: 50%;
}

.btNote {
  border-radius: 50%;
  border: 1px solid black;
  color: white;
  font: bold;
  background-color: purple;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
}

.input {
  text-align: center;
  padding: 10px;
  font-style: italic;
  font-weight: bolder;
}

#bpm,
#notes {
  text-align: center;
}

#table,
th,
td {
  margin: auto;
  border: 1px solid black;
}
